{% extends "design.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section mr-35">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="">Posted by : {{ post.author.username }}</a>
            <small class="text-muted">Date Posted : {{ post.date_posted.strftime('%Y-%m-%d')}}</small>
        </div>
        <h2><a class="article-title" href="">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        <button class="btn btn-outline-secondary square btn-small" type="button">
                <a href="{{url_for('post',post_id=post.id)}}">View Page</a>
            </button>
    </div>
</article>
{% endfor %}
<div class="m-5">
    <blockquote class="quote-box text-center primary-color">
        <p class="quotation-mark">
            "
        </p>
        <p class="quote-text">
            {{quote.quote}}
        </p>
        <hr />
        <div class="blog-post-actions">
            <p class="blog-post-bottom pull-left">
                {{quote.author}}
            </p>
        </div>
    </blockquote>
</div>
{% endblock content %}